<div id="stock-item-layout">
  {{ content.top }}
  <div class="column-layout">
    <div class="column">
      {{ content.column_left }}
    </div>
    <div class="column">
      {{ content.column_right }}
      {{ content.column_right_info }}
    </div>
  </div>
  {{ content.bottom }}
</div>
